	#chartdiv {
		width: 100%;
		height: 500px;
	}
	
	.redImgCenter {
		display: block;
		margin-left: auto;
		margin-right: auto;
		height: 3%;
	}
	
	.redImgCenterDgl {
		display: block;
		margin-left: auto;
		margin-right: auto;
		height: 3%;
		width: 1em;
	}
	
	.redImgCenterAlD {
		display: block;
		margin-left: auto;
		margin-right: auto;
		height: 3%;
		width: 1em;
	}
	
	.greenImgCenter {
		display: block;
		margin-left: auto;
		margin-right: auto;
		height: 6%;
		width: 0.9em;
	}
	
	.center {
		margin: 0 auto;
		marging-top: 5%;
	}
	
	.awesome {
			font-family: futura;
			font-style: italic;
			width: 100%;
			margin: 0 auto;
			text-align: center;
			color: #313131;
			font-size: 25px;
			font-weight: bold;
			position: absolute;
			-webkit-animation: colorchange 20s infinite alternate;
		}

@-webkit-keyframes colorchange {
      0% {
        
        color: blue;
      }
      
      10% {
        
        color: #8e44ad;
      }
      
      20% {
        
        color: #1abc9c;
      }
      
      30% {
        
        color: #d35400;
      }
      
      40% {
        
        color: blue;
      }
      
      50% {
        
        color: #34495e;
      }
      
      60% {
        
        color: blue;
      }
      
      70% {
        
        color: #2980b9;
      }
      80% {
     
        color: #f1c40f;
      }
      
      90% {
     
        color: #2980b9;
      }
      
      100% {
        
        color: pink;
      }
    }
    
	.imeiConfMargin {
		margin-left: 12%;
	}
	
	.btnRight {
		float: right;
	}
	
	.toolbarText {
		font-weight: bolder;
   	    text-align: center;
   	    min-height: 50px;
   	    padding-top: 10px;
   	    
	}
	
	.labelSize {
	 	font-weight: 500;
	}
	
	.dropSize {
		width: 15vw;
	}
	
	.colCenter {
		text-align : center;
	}
	
	.cardSize {
		width: 67vw;
		
	}
	
	.thWidth {
		width: 29px !imporatant;
		height: 10px;
   		font-size: 0.65rem;
   		vertical-align: middle !important;
	}
	
	.colHeight {
   		font-size: 0.55rem;
   		font-weight: 500;
   		line-height: 1;
   		vertical-align: middle !important;
	}
	
	.redBell {
		width: 48%
	}
	
	.thumbsDownSize {
		display: block;
		margin-left: auto;
		margin-right: auto;
		height: 3%;
	}
	
	.thumbsUpSize {
		display: block;
		margin-left: auto;
		margin-right: auto;
		height: 5%;
	}
	
	.meter{
		 width: 80%;
   		 height: 2.5vh;
	}
	
	.colHeader {
		width :2em;
	}
	
	.colHeaders {
		width :2.5em;
	}
	
	
	