	#chartdiv {
		width: 100%;
		height: 500px;
	}
	
	.redImgCenter {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 18%;
		height: 4%;
	}
	
	.greenImgCenter {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 16%;
		height: 8%;
	}
	
	.center {
		margin: 0 auto;
		marging-top: 5%;
	}
	
	.awesome {
			font-family: futura;
			font-style: italic;
			width: 100%;
			margin: 0 auto;
			text-align: center;
			color: #313131;
			font-size: 25px;
			font-weight: bold;
			position: absolute;
			-webkit-animation: colorchange 20s infinite alternate;
		}

@-webkit-keyframes colorchange {
      0% {
        
        color: blue;
      }
      
      10% {
        
        color: #8e44ad;
      }
      
      20% {
        
        color: #1abc9c;
      }
      
      30% {
        
        color: #d35400;
      }
      
      40% {
        
        color: blue;
      }
      
      50% {
        
        color: #34495e;
      }
      
      60% {
        
        color: blue;
      }
      
      70% {
        
        color: #2980b9;
      }
      80% {
     
        color: #f1c40f;
      }
      
      90% {
     
        color: #2980b9;
      }
      
      100% {
        
        color: pink;
      }
    }
    
	.imeiConfMargin {
		margin-left: 12%;
	}
	
	.btnRight {
		float: right;
	}
	
	.toolbarText {
		font-weight: bolder;
   	    text-align: center;
   	    min-height: 50px;
   	    padding-top: 10px;
   	    
	}
	
	.labelSize {
	 	font-weight: 500;
	}
	
	.dropSize {
		width: 15vw;
	}
	
	.colCenter {
		text-align : center;
	}
	
	.cardSize {
		width: 52vw;
	}
	
	